extends layout

block content
  .page-header
    h1 Book Info Page
    
  .row
    .span2
      ul(class="nav nav-list well")
        li(class="nav-header")
          |Book Cover Pic
        li
          img(src="#{book.limage}" alt="Book Image" class="img-rounded")
      
      include ./sidebar.jade
    .span10
      table(class="table table-striped table-bordered")
        thead
          tr
            th Title
            th Author
            th Publishing Year
            th Publisher
            th Status
            th Option
        tbody
          tr
            td #{book.title}
            td 
              a(href="/author/#{book.authorid}") #{book.author}
            td #{book.published}
            td 
              a(href="/publisher/#{book.publisherid}") #{book.publisher}
            td
              if book.status == 0
                |Unread
              else if book.status == 1
                |Currenlty Reading
              else  
                |Already Read
            td 
             a(class="btn btn-info" href="/books/#{book.id}/update" role="button") Update Book
              
                