extends layout

block content
  .page-header
    h1 Update Book Info
    
  .row
    .span2
      ul(class="nav nav-list well")
        li(class="nav-header")
          |Book Cover Pic
        li
          img(src="#{book.limage}" alt="Book Image" class="img-rounded")

      include ./sidebar.jade
    .span2
      div
    .span4
      form(action='/books/#{book.id}/update', method='post', id='updateBook')
        .formgroup
          label Title
          input(type="text" name="title" value = "#{book.title}" required)
        .formgroup
          label Author
          input(type="text" name="authorname" value = "#{book.author}" required)
        .formgroup
          label ISBN
          input(type="text" name="isbn" value = "#{book.ISBN}" required)
        .formgroup
          label Publishing Year
          input(type="text" name="published" value = "#{book.published}" required)
        .formgroup
          label Publisher
          input(type="text" name="publishername" value = "#{book.publisher}" required)
        .formgroup
          label Status
          select(name="status" value='#{book.status}' id='status')
            option(value="0") Unread
            option(value="1") Currently Reading
            option(value="2") Already Read
        .actions
          input(type="submit" value="Update" class="btn btn-success")
    .span3
      h4 Delete Book
      form(action='/books/#{book.id}/delete', method='post')
        .actions
          input(type="submit" value="Delete" class="btn btn-danger")